In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../dataraw/Apple_phones_preprocessed.csv')
df

,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review
0,iPhone XR,168.39,64,i am a content creator and needed a second pho...,2024-09-06,5,the United States,en,"['content', 'creator', 'needed', 'second', 'ph..."
1,iPhone XR,168.39,64,got it to replace my 13 year olds xr in a pinc...,2024-09-15,5,the United States,en,"['got', 'replace', '13', 'year', 'olds', 'xr',..."
2,iPhone XR,168.39,64,the exterior is in perfect condition and so fa...,2024-05-24,5,the United States,en,"['exterior', 'perfect', 'condition', 'far', '’..."
3,iPhone XR,168.39,64,i have had this product for a few years and it...,2024-07-10,4,the United States,en,"['product', 'years', 'still', 'runs', 'well', ..."
4,iPhone XR,168.39,64,item was received exactly as expected. the pho...,2024-08-21,5,the United States,en,"['item', 'received', 'exactly', 'expected', '...."
...,...,...,...,...,...,...,...,...,...
688,iPhone 15 Pro Max,1140.01,512,came in great condition excellent battery life...,2024-09-19,5,the United States,en,"['came', 'great', 'condition', 'excellent', 'b..."
689,iPhone 15 Pro Max,1140.01,512,the media could not be loaded.\r\n ...,2024-09-27,5,the United States,en,"['media', 'could', 'loaded', '.', 'idk', 'peop..."
690,iPhone 15 Pro Max,1140.01,512,only complaint is the charger it came with\r\n...,2024-09-14,4,the United States,en,"['complaint', 'charger', 'came', 'read']"
691,iPhone 15 Pro Max,1140.01,512,i’ve had this phone for a week now and to be h...,2024-09-21,3,Canada,en,"['’', 'phone', 'week', 'honest', '’', 'good', ..."
692,iPhone 15 Pro Max,1140.01,512,screen had multiple deep scratches. returned. ...,2024-09-14,1,Canada,en,"['screen', 'multiple', 'deep', 'scratches', '...."

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['timestamp_nanosec'] = df['timestamp'].astype('int64')
df.head()

,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review,timestamp_nanosec
0,iPhone XR,168.39,64,i am a content creator and needed a second pho...,2024-09-06,5,the United States,en,"['content', 'creator', 'needed', 'second', 'ph...",1725580800000000000
1,iPhone XR,168.39,64,got it to replace my 13 year olds xr in a pinc...,2024-09-15,5,the United States,en,"['got', 'replace', '13', 'year', 'olds', 'xr',...",1726358400000000000
2,iPhone XR,168.39,64,the exterior is in perfect condition and so fa...,2024-05-24,5,the United States,en,"['exterior', 'perfect', 'condition', 'far', '’...",1716508800000000000
3,iPhone XR,168.39,64,i have had this product for a few years and it...,2024-07-10,4,the United States,en,"['product', 'years', 'still', 'runs', 'well', ...",1720569600000000000
4,iPhone XR,168.39,64,item was received exactly as expected. the pho...,2024-08-21,5,the United States,en,"['item', 'received', 'exactly', 'expected', '....",1724198400000000000

In [6]:
df['normalized_timestamp_nanosec'] = df.groupby('model_name')['timestamp_nanosec'].transform(lambda x: x - np.min(x))
df.head()

,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review,timestamp_nanosec,normalized_timestamp_nanosec
0,iPhone XR,168.39,64,i am a content creator and needed a second pho...,2024-09-06,5,the United States,en,"['content', 'creator', 'needed', 'second', 'ph...",1725580800000000000,156384000000000000
1,iPhone XR,168.39,64,got it to replace my 13 year olds xr in a pinc...,2024-09-15,5,the United States,en,"['got', 'replace', '13', 'year', 'olds', 'xr',...",1726358400000000000,157161600000000000
2,iPhone XR,168.39,64,the exterior is in perfect condition and so fa...,2024-05-24,5,the United States,en,"['exterior', 'perfect', 'condition', 'far', '’...",1716508800000000000,147312000000000000
3,iPhone XR,168.39,64,i have had this product for a few years and it...,2024-07-10,4,the United States,en,"['product', 'years', 'still', 'runs', 'well', ...",1720569600000000000,151372800000000000
4,iPhone XR,168.39,64,item was received exactly as expected. the pho...,2024-08-21,5,the United States,en,"['item', 'received', 'exactly', 'expected', '....",1724198400000000000,155001600000000000

In [8]:
# Actualizar la columna 'timestamp' con el formato datetime a partir de 'timestamp_nanosec'
df['timestamp_formatted'] = pd.to_datetime(df['normalized_timestamp_nanosec']).dt.strftime('%d/%m/%Y')

df.head()

,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review,timestamp_nanosec,normalized_timestamp_nanosec,timestamp_formatted
0,iPhone XR,168.39,64,i am a content creator and needed a second pho...,2024-09-06,5,the United States,en,"['content', 'creator', 'needed', 'second', 'ph...",1725580800000000000,156384000000000000,16/12/1974
1,iPhone XR,168.39,64,got it to replace my 13 year olds xr in a pinc...,2024-09-15,5,the United States,en,"['got', 'replace', '13', 'year', 'olds', 'xr',...",1726358400000000000,157161600000000000,25/12/1974
2,iPhone XR,168.39,64,the exterior is in perfect condition and so fa...,2024-05-24,5,the United States,en,"['exterior', 'perfect', 'condition', 'far', '’...",1716508800000000000,147312000000000000,02/09/1974
3,iPhone XR,168.39,64,i have had this product for a few years and it...,2024-07-10,4,the United States,en,"['product', 'years', 'still', 'runs', 'well', ...",1720569600000000000,151372800000000000,19/10/1974
4,iPhone XR,168.39,64,item was received exactly as expected. the pho...,2024-08-21,5,the United States,en,"['item', 'received', 'exactly', 'expected', '....",1724198400000000000,155001600000000000,30/11/1974

In [9]:

# Ordenar los datos por la columna 'timestamp' en orden ascendente
df.sort_values(by='timestamp_formatted', ascending=True, inplace=True)

df.head()

,model_name,Price (Dollar),Storage (GB),review,timestamp,stars,country,language,tk_review,timestamp_nanosec,normalized_timestamp_nanosec,timestamp_formatted
524,iPhone 14 Plus,581.97,128,the price on amazon iphone was much better tha...,2023-08-09,5,the United States,en,"['price', 'amazon', 'iphone', 'much', 'better'...",1691539200000000000,0,01/01/1970
585,iPhone 15 Pro Max,1429.96,256,most storage. just a bit larger then my last i...,2024-02-28,5,the United States,en,"['storage', '.', 'bit', 'larger', 'last', 'iph...",1709078400000000000,0,01/01/1970
49,iPhone XS Max,234.95,64,6 months later update - still acts like i boug...,2019-12-20,5,the United States,en,"['6', 'months', 'later', 'update', '-', 'still...",1576800000000000000,0,01/01/1970
510,iPhone 13 Pro Max,1049.70,128,device does not come with a power adapter! how...,2021-10-04,1,the United States,en,"['device', 'come', 'power', 'adapter', '!', 'e...",1633305600000000000,0,01/01/1970
407,iPhone 12 Pro,840.13,128,amazing defenitly worth it\r\nread more,2020-11-05,5,the United States,en,"['amazing', 'defenitly', 'worth', 'read']",1604534400000000000,0,01/01/1970

In [10]:
df.to_csv(r'..\dataprocessed\datos_preprocesados_2.csv', index=False)